


body {
    color: #ff0000;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;

}

.image{

    
    background-position: center;
    background-image: url(../images/image.png);
    background-repeat: no-repeat ;
    z-index: -1;

}


/* Toolbar on the left, fixed and full height */
#toolbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80px;
    background-color: #202020;
    z-index: 1;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
    color: white;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    background-color: #6e0707;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 4px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    display: grid;
    place-content: center;
}


.flipbook {
    width: 55vw;
    height: 70vh;
}

.flipbook .hard{
    background: #c0392b !important;
    color: #fff;
    font-weight: bold;
    border: none;
}

.flipbook .hard small{
    font-style: italic;
    font-weight: lighter;
    opacity: 0.7;
    font-size: 14px;
}

.flipbook .page{
    background: rgb(201, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}


.flipbook .page small{
    font-size: 14px;
    margin-bottom: 10px;
}
#sticker-picker img {
  width: 40px;
  cursor: grab;
  margin-bottom: 4px;
}

